$upperCornerPosition : 75px;

.logo{
    margin-left: $upperCornerPosition + 100px;
    margin-top: $upperCornerPosition;
}

.mainNav{
    width: 380px;
    margin-left: $upperCornerPosition + 100px;
    ul{
        margin-top: 25px;
        list-style-type: none;
        padding: 0;
        text-align: center;
        li{
            padding: 15px;
            background-color: $black;
        }
        li:first-child{
            margin-bottom: 10px;
        }
        a{
            text-transform: uppercase;
            display: block;
            border: 2px solid;
            border-image:linear-gradient(to right,$gold 0%,$goldTransparent 25%,rgba(255,0,0,0)50%,$goldTransparent 75%,$gold 100%) 10;
            padding:15px 25px;
            text-decoration: none;
            font-weight: 600;
            font-size: 1em;
            letter-spacing: 4px;
            color: $gold;
            user-select: none;
        }
        a:hover{
            background-color: $gold;
            color: $blackFull;
        }
      
    }
   
}


