$upperCornerPosition : 75px;
.imageWrapper{
   float: left;
    
    width: 400px;
    
    color: $gold;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-left: $upperCornerPosition + 100px;
    margin-top: $upperCornerPosition;
    letter-spacing: 4px;
    span{
        display: block;
        padding: 15px;       
        background-color: $black;
        .imageHeader{
            display: block;
            max-width: 366px;
            min-height: 20px;  
            border: 2px solid $gold; 
            padding: 15px 0px 15px 0px;   
        } 
    }   
    
    .emblem{
        position: relative;
        top:-526px;
        z-index: 1;
    }

    .imageBox{
        margin: 0;
        margin-top: 50px;
        padding: 15px;
        height: 471px;
        background-color:$black;
        .characterImage{
            max-width: 366px;
            border: 2px solid $gold;
        }
    }
}

.navWrapper{
    width: 400px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    a{
        color: $gold;
        float: left;
        display: block;
        border: 2px solid;
        border-image:linear-gradient(to right,$gold 0%,$goldTransparent 25%,rgba(255,0,0,0)50%,$goldTransparent 75%,$gold 100%) 10;
        padding:15px 25px;
        text-decoration: none;
        width: 100px;
        font-size: 0.6em;   
        user-select: none;
    }
    a:hover{
        background-color: $gold;
        color: $blackFull;
    }
    span{
        margin:0 16px;
    }
}


.articleWrapper{  
    float: right;
    position: absolute;
    right: 140px;
    height: 100vh;
    width: 970px;
    
    overflow-y: scroll;
    
    &::-webkit-scrollbar{
        display: none;
    }
    .textBox{
       background-color: $black;
        max-width: 866px;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid $gold;
        outline: 15px solid $black;
        margin-top: 40px;
       
    }
    .textBox:first-child{
       margin-top:90px;
    }
    .textBox:last-child{
        margin-bottom:140px;
     }

    .mainTextHeader{
        color: $gold;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.5em;
        margin: 30px 60px 30px 60px;  
    }

    article{
        letter-spacing: 3.5px;
        color: $white;
        padding:0px 60px 30px 60px;
        font-size: 1.05em;
        font-family: 'Noto Sans', sans-serif;
    }

    .secondaryTextHeader{
        color: $white;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0px 60px 20px 60px;
    }

    .dots{
        margin-left: 60px;
        margin-bottom: 5px;
    }

    .symbol{
        margin-top: -180px;
        position: relative;
        top: 110px;
        left: -51px;
        z-index: 10;
    }

    .symbol:first-child{
        //margin-top: -40px;
    }

    .symbol +  .mainTextHeader{
        margin: 10px 60px 30px 60px;  
    }
}


